.wrapper
  .container_page
    height: 100vh
    width: 100%
    background: linear-gradient(#141e30, #243b55)
    position: relative
    scroll-behavior: smooth

    .main
      position: relative
      top: 10vh
      display: flex
      flex-direction: row
      flex-wrap: wrap
      width: 100%

      .adopt
        width: 40%
        height: 50vh
        min-width: 400px
        margin: 10vh auto
        border-radius: 20px
        background-color: #10141c
        overflow: hidden

        .animals
          display: flex
          flex-direction: row
          flex-wrap: wrap

          .gallery
            width: 50%
            height: 150px
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            cursor: pointer
            transition: 0.3s

          .gallery:hover
            background-color: #000
            opacity: .5

          .tiger
            background-image: url("../images/tygrys_banner.jpg")

          .gorilla
            background-image: url("../images/goryl.jpg")

          .penguin
            background-image: url("../images/pingwin.jpg")

          .moose
            background-image: url("../images/los.jpg")

        .adoptAnimal
          position: relative
          width: 100%
          padding: 10px 0

          .txt2
            width: 100%
            margin: 20px 0
            color: #fff
            text-align: center
            font-size: 16px
            line-height: 16px

          form
            width: 100%
            text-align: center

            label
              color: #ffffff
              font-size: 20px
              margin: 0 20px

            input
              padding: 5px 10px
              border: 2px solid #000
              margin: 10px 20px 0 0

            button
              background-color: transparent
              padding: 5px 10px
              margin: 20px 10px 0
              color: #fff
              border: 2px solid #00faac
              transition: 0.3s

            button:hover
              background-color: #00faac
              color: #000

            div
              display: inline-block
              background-color: transparent
              padding: 5px 10px
              margin: 20px 10px 0
              color: #fff
              border: 2px solid #00faac
              transition: 0.3s
              cursor: pointer

            div:hover
              background-color: #00faac
              color: #000

      .account
        width: 40%
        height: 50vh
        min-width: 400px
        margin: 10vh auto
        border-radius: 20px
        background-color: #10141c
        color: #fff

        table
          color: #fff

          tr
            height: 50px
            line-height: 50px
            margin: 0
            padding: 0
            text-align: center

            .pass
              width: 100px
              background-color: #10141c
              border: none
              color: #fff

            .check
              margin: 0 10px
              width: 20px
              height: 20px

        .animals_table
          width: 100%
          margin: 30px auto 0

          p
            text-align: center

          .wrap
            display: flex
            width: 100%

            .animal
              width: 30%
              justify-content: space-between
              margin: 0 10px
              text-align: center
              padding: 5px
              border: 2px solid #00faac


@media (max-width: 816px)
  .wrapper
    .container_page
      height: 150vh
