<div class="wrapper">
  <app-navbar></app-navbar>

  <div class="container_page">
    <div class="main">
      <div class="adopt">
        <div class="animals">
          <div (click)="getAnimal('Tygrys')" class="gallery tiger"></div>
          <div (click)="getAnimal('Goryl')" class="gallery gorilla"></div>
          <div (click)="getAnimal('Pingwin')" class="gallery penguin"></div>
          <div (click)="getAnimal('Łoś')" class="gallery moose"></div>
        </div>
        <div class="adoptAnimal">
          <form #adopt="ngForm" (ngSubmit)="success()" onSubmit="return confirm('Jesteś pewny, że chcesz adoptować zwierzę?');">
            <label for="email">Email:</label>
            <input type="email" name="email" [(ngModel)]="adoptions.email" #email="ngModel" readonly="readonly">
            <label for="animal">Twój wybór to:</label>
            <input type="text" name="animal" [(ngModel)]="adoptions.animal" #email="ngModel" readonly="readonly">
            <button [disabled]="adopt.form.invalid" class="adopt_btn" type="submit" onClick="window.location.reload();">Adoptuj</button>
            <div (click)="getAnimal('')" class="disable adopt_btn">Odznacz swój wybór</div>
          </form>
          <p class="txt2">Wybierz zwierzę, które chcesz adoptować.</p>
        </div>
      </div>
      <div class="account">
        <table class="table">
          <thead>
          <tr>
            <th>Email</th>
            <th>Nazwa użytkownika</th>
            <th>Hasło</th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor = "let user of users">
              <tr *ngIf="user.emailId == sessionValue">
                <td>{{user.emailId}}</td>
                <td>{{user.userName}}</td>
                <td class="last">
                  <input class="pass" type="password" id="passwordInput" readonly="readonly" value="{{user.accountPassword}}">
                  <input class="check" type="checkbox" (click)="showPassword()">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="animals_table">
          <p>Twoje adoptowane zwierzęta</p>
          <div class="wrap">
            <ng-container *ngFor = "let adopt of animals">
              <div class="animal" *ngIf="adopt.email == sessionValue">
                <span>{{adopt.animal}}</span>
              </div>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
