<div class="wrapper">
  <app-navbar></app-navbar>

  <div class="container_page">
    <div class="main">
      <div class="adopt">
        <div class="animals">
          <div (click)="getAnimal('Tygrys')" class="gallery tiger"></div>
          <div (click)="getAnimal('Goryl')" class="gallery gorilla"></div>
          <div (click)="getAnimal('Pingwin')" class="gallery penguin"></div>
          <div (click)="getAnimal('Łoś')" class="gallery moose"></div>
        </div>
        <div class="adoptAnimal">
          <p class="txt">Twój wybór to: <span class="choice">{{animal}}</span></p>
          <form #adopt="ngForm">
            <label>Email:</label>
            <input type="email" name="email" value="{{sessionValue}}">
            <button type="submit">Adoptuj</button>
            <button (click)="getAnimal('')" class="disable">Odznacz swój wybór</button>
          </form>
          <p class="txt2">Wybierz zwierzę, które chcesz adoptować i podaj swój email, a my wyślemy ci potwierdzenie adopcji.</p>
        </div>
      </div>
      <div class="account">
        <table class="table">
          <thead>
          <tr>
            <th>Email</th>
            <th>Nazwa użytkownika</th>
            <th>Hasło</th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor = "let user of users">
              <tr *ngIf="user.emailId == sessionValue">
                <td>{{user.emailId}}</td>
                <td>{{user.userName}}</td>
                <td class="last">
                  <input class="pass" type="password" id="passwordInput" readonly="readonly" value="{{user.accountPassword}}">
                  <input class="check" type="checkbox" (click)="showPassword()">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <form #changepasswordform="ngForm">
          <label for="pwd">Chcesz zmienić hasło?</label>
          <input type="password" name="accountPassword" placeholder="Podaj nowe hasło" (ngModel)="user.accountPassword" #caccountPassword="ngModel" required
                 [class.is-invalid]="caccountPassword.invalid && caccountPassword.touched">
          <button [disabled]="changepasswordform.form.invalid" type="submit" class="confirm">Zmień hasło</button>
        </form>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
