<div class="wrapper">
  <app-navbar></app-navbar>

  <div class="container_page">
    <div class="banner">
      <div class="headers">
        <h1>Tygrys</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis pretium odio. Curabitur dapibus mauris at ligula molestie, sodales aliquam eros egestas. Nunc at lacinia neque.</p>
        <span class="button"><a href="#"></a></span>
      </div>
    </div>
    <div class="description">

    </div>
    <div class="photo_gallery"></div>
    <div class="adopt"></div>
  </div>

  <app-footer></app-footer>
</div>

