<div class="wrapper">
  <app-navbar></app-navbar>

  <div class="container_page">
    <div class="banner">
      <div class="headers">
        <h1>Tygrys</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis pretium odio. Curabitur dapibus mauris at ligula molestie, sodales aliquam eros egestas. Nunc at lacinia neque.</p>
        <span class="button"><a (click)="scrollFunction()"></a></span>
      </div>
    </div>
    <div class="elements" id="section">
      <div class="photo_gallery"></div>
      <div class="description">
        <div class="context">
          <dt>Populacja</dt>
          <p>3890</p>
          <dt>Występowanie</dt>
          <p>Azja</p>
          <dt>Zagrożenia</dt>
          <p>Kłusownictwo, Mała liczebność populacji</p>
        </div>
      </div>
      <div class="adopt">
        <div class="data">
          <dt>Adoptuj tygrysa</dt>
          <p>Dzięki pomocy finansowej wspierających naszą fundację, jesteśmy w stanie wdrażać działania umożliwiające odbudowę populacji tygrysów na świecie!</p>
        </div>
        <div class="adopt_button" [routerLink]="['/adopt']">Adoptuj tygrysa</div>
      </div>
      <div class="back">
        <div class="endpage">
          <dt>Zobacz też innych naszych podopiecznych</dt>
          <p>Nasza fundacja wspiera wiele różnych gatunków zwierząt. Sprawdź pozostałe!</p>
        </div>
        <div class="gallery">
          <div class="p1" [routerLink]="['/goryl']"></div>
          <div class="p2" [routerLink]="['/pingwin']"></div>
          <div class="p3" [routerLink]="['/los']"></div>
        </div>
        <div class="back_button" [routerLink]="['/']">Powrót do strony głównej</div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

