<mat-toolbar>
  <footer>
    <div class="social"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></div>
    <ul class="list">
      <li class="list-inline-item"><a href="#">Strona Główna</a></li>
      <li class="list-inline-item"><a href="#">Usługi</a></li>
      <li class="list-inline-item"><a href="#">O Nas</a></li>
      <li class="list-inline-item"><a href="#">Warunki</a></li>
      <li class="list-inline-item"><a href="#">Polityka Prywatności</a></li>
    </ul>
    <p class="copyright">ADOPTIT &copy; 2022</p>
  </footer>
</mat-toolbar>
