<mat-toolbar>
  <footer>
    <div class="social"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></div>
    <ul class="list">
      <li class="list-inline-item"><a [routerLink]="['/']">Strona Główna</a></li>
      <li class="list-inline-item"><a [routerLink]="['/tygrys']">Tygrysy</a></li>
      <li class="list-inline-item"><a [routerLink]="['/goryl']">Goryle</a></li>
      <li class="list-inline-item"><a [routerLink]="['/pingwin']">Pingwiny</a></li>
      <li class="list-inline-item"><a [routerLink]="['/los']">Łosie</a></li>
    </ul>
    <p class="copyright">ADOPTIT &copy; 2022</p>
  </footer>
</mat-toolbar>
