<div class="wrapper">
  <app-navbar id="section1"></app-navbar>

  <div class="banner_wrapper">
    <div class="banner">
      <div class="bgc1">
        <div class="hexagon"></div>
        <div class="hexagon"></div>
        <div class="hexagon"></div>
        <div class="hexagon"></div>
        <div class="hexagon"></div>
        <div class="svg-wrap" (click)="scrollFunction()">
          <svg width="350" height="70">
            <g>
              <rect class="box" width="350" height="70" style="fill:rgba(0,0,0,0)"/>
              <text x="124" y="45" font-family="Arial" font-size="30" fill="#eee">Adoptuj</text>
            </g>
          </svg>
        </div>
      </div>

    </div>
  </div>

  <div class="nav-bottom" id="section">
    <article>
      <h1>Pomóż zagrożonym gatunkom przetrwać</h1>
      <p>adoptuj i zapisz się w szczytnym celu</p>
    </article>
  </div>

  <div class="content">
    <div class="animals_wrapper_row">
      <div class="animals_wrapper_column">
        <div><img [routerLink]="['/tygrys']" class="d1" src="assets/images/zenek.png"></div>
        <div><img [routerLink]="['/pingwin']" class="d2" src="assets/images/flurek.png"></div>
      </div>
      <div class="animals_wrapper_column">
        <div><img [routerLink]="['/goryl']" class="d3" src="assets/images/jerzy.png"></div>
        <div><img [routerLink]="['/los']" class="d4" src="assets/images/kacper.png"></div>
      </div>
    </div>

    <div class="nav-bottom">
      <article>
        <h1>Dowiedz się więcej na temat wsparcia</h1>
        <p>zobacz artykuły najważniejszych organizacji</p>
      </article>
    </div>

    <div class="curiosity-module">
      <div class="element">
        <h1>WWF</h1>
        <div class="image first"></div>
        <p>Międzynarodowa organizacja pozarządowa, podejmująca działania na rzecz ochrony zwierząt i roślin. Przeciwdziała niekorzystnym wpływom człowieka na faunę i florę oraz funkcjonuje w zakresie ochrony zagrożonych gatunków.</p>
        <div class="read"><a href="https://www.wwf.pl/" target="_blank">Czytaj więcej</a></div>
      </div>
      <div class="element">
        <h1>National Geographic</h1>
        <div class="image second"></div>
        <p>Czasopismo przyrodniczo-naukowe. W swoich publikacjach zamieszcza istotne i zweryfikowane informacje w wielu dziedzinach, również na temat zwierząt. Uświadamiają ludzi o problemach zagrożonych gatunków zwierząt.</p>
        <div class="read"><a href="https://www.national-geographic.pl/" target="_blank">Czytaj więcej</a></div>
      </div>
      <div class="element">
        <h1>IUCN</h1>
        <div class="image third"></div>
        <p>Międzynarodowa Unia Ochrony Przyrody to organizacja, która zajmuje się ochroną przyrody i problemami środowiska naturalnego. Regularnie publikuje tzw. Czerwoną Księgę, która zawiera listę gatunków  roślin i zwierząt zagrożonych wyginięciem. </p>
        <div class="read"><a href="https://www.iucn.org/" target="_blank">Czytaj więcej</a></div>
      </div>
    </div>


  </div>
  <app-footer></app-footer>
</div>






