<app-navbar></app-navbar>

<div class="banner_wrapper">
  <div class="banner">
    <div class="bgc1">
      <div class="svg-wrap">
        <svg width="350" height="70">
          <g>
          <rect class="box" width="350" height="70" style="fill:rgba(0,0,0,0.6)"/>
            <text x="124" y="45" font-family="Arial" font-size="30" fill="#eee">Adoptuj</text>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="nav-bottom">
  <article>
    <h1>Pomóż zagrożonym gatunkom przetrwać</h1>
    <p>adoptuj i zapisz się w szczytnym celu</p>
  </article>
</div>

<div class="content">
    <div class="animals_wrapper_row">
      <div class="animals_wrapper_column">
        <div><img class="d1" src="assets/images/zenek.png"></div>
        <div><img class="d2" src="assets/images/flurek.png"></div>
      </div>
      <div class="animals_wrapper_column">
        <div><img class="d3" src="assets/images/jerzy.png"></div>
        <div><img class="d4" src="assets/images/kacper.png"></div>
      </div>
    </div>
  </div>

<div>Coś tu jest</div>





