<app-navbar></app-navbar>

<div class="banner_wrapper">
  <div class="banner">
    <div class="bgc1">
      <div class="svg-wrap">
        <svg width="350" height="70">
          <g>
          <rect class="box" width="350" height="70" style="fill:rgba(0,0,0,0.6)"/>
            <text x="124" y="45" font-family="Arial" font-size="30" fill="#eee">Adoptuj</text>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="banner2">
    <div class="bgc2">
      <h1>Jakiś h1</h1>
      <p>jakiś p</p>
    </div>
  </div>
</div>





