<div class="wrapper">
  <app-navbar></app-navbar>

  <div class="container_page">
    <div class="banner">
      <div class="headers">
        <h1>Pingwin</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis pretium odio. Curabitur dapibus mauris at ligula molestie, sodales aliquam eros egestas. Nunc at lacinia neque.</p>
        <span class="button"><a href="#"></a></span>
      </div>
    </div>
    <div class="elements">
      <div class="photo_gallery"></div>
      <div class="description">
        <div class="context">
          <dt>Populacja</dt>
          <p>200 000</p>
          <dt>Występowanie</dt>
          <p>Antarktyda, Ameryka Płd., Nowa Zelandia</p>
          <dt>Zagrożenia</dt>
          <p>Zmiany klimatu, Turystyka</p>
        </div>
      </div>
      <div class="adopt">
        <div class="data">
          <dt>Adoptuj pingwina</dt>
          <p>Dzięki pomocy finansowej wspierających naszą fundację, jesteśmy w stanie wdrażać działania umożliwiające odbudowę populacji pingwinów na świecie!</p>
        </div>
        <div class="adopt_button" [routerLink]="['/adopt']">Adoptuj pingwina</div>
      </div>
      <div class="back">
        <div class="endpage">
          <dt>Zobacz też innych naszych podopiecznych</dt>
          <p>Nasza fundacja wspiera wiele różnych gatunków zwierząt. Sprawdź pozostałe!</p>
        </div>
        <div class="back_button" [routerLink]="['/']">Powrót do strony głównej</div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>


